* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #fff;
    font-size: 1rem;

}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #000;
    z-index: 100
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0
}

.btn-cart {
    position: relative;
    right: 0;
    font-size: 1.1rem;
    background-color: #fff;
    color: #000;
    padding: 6px 20px;
    cursor: pointer;
    transition: 0.3s
}

.container {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
    height: 100%;
}

main {
    position: relative;
    width: 100%;
    padding: 130px 0
}

.products {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    position: relative;
    width: 24%;
    padding: 15px;
    transition: 0.2s
}

.product-item:hover {
    box-shadow: 0 0 10px #e3e3e3
}

.product-item h3 {
    font-size: 1.7rem;
    margin: 15px 0;
}

.product-item p {
    font-size: 1.4rem;
    margin: 15px 0;
}

.product-item img {
    position: relative;
    width: 100%;
}

.product-item .buy-btn {
    font-size: 1.1rem;
    background-color: #000;
    color: #fff;
    padding: 6px 20px;
    cursor: pointer;
    transition: 0.3s
}

.product-item .buy-btn:hover {
    background-color: green
}
