html, body {overflow-y: hidden;background-color: #fff;}

.bucketPanel {
    width: 400px;
    padding: 10px;
}

.productRemoveBtn:hover {
    cursor: pointer;
}

.container {position: relative;margin: 0 auto;width: 100%;max-width: 1640px;display: flex;padding: 2%}
.items {position: relative;width: 75%;display: flex;flex-wrap: wrap;overflow: hidden;}
.box {padding: 20px;width: 300px;}
.box img {width: 100%}

.navbar {position: relative;width: 20%}
th, td {padding: 7px;border: 2px solid}