body {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-gap: 50px;
}

.product {
    width: 150px;
}

img {
    display: block;
}

button {
    margin-top: 15px;
    display: block;
}